<a href="https://colab.research.google.com/github/EzekielBalajadia/PLNG211-QC/blob/main/Control_and_Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# if statement
a = 12
b = 100

if a<b:
  print("a is less than b")

a is less than b

In [47]:
#Elif statement
if a < b:
  print('a is less than b')
elif a>b:
    print("a is greater than b")

a is less than b

In [7]:
if a<b:
  print('a is less than b')
elif a>b:
  print("a is greater than b")
else:
  print('a is equal to b')

a is less than b

In [8]:
#Short Hand If Statement
c = 10
d = 5
if c>d: print("c>d")

c>d

In [9]:
#Short Hand If... Else Statement
print('c>d') if c>d else print('d>c')

c>d

In [10]:
#And Statement
if 5>10 and 8>4:
  print("both statement are true")
else:
  print("one of the statement is false / both statements are not true")

one of the statement is false / both statements are not true

In [11]:
#Or Statement
if 5>10 or 4>8:
  print('True')
else:
  print('False')

False

In [12]:
#Bitwise operator
e = 4       #0100 in binary
f = 2       #0010 in binary

e^f

6

In [19]:
#Nested If Statement
x = 41
if x>10:
  print("number is above 10")
  if x>20:
    print("number is above 20")
    if x>30:
      print("number is above 30")
      if x>40:
        print("number is above 40")
        if x>50:
          print("number is above 50")
        else:
            print("number is less than 50")
      else:
            print("number is less than 40")

number is above 10
number is above 20
number is above 30
number is above 40
number is less than 50

In [20]:
#For loop Statement
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for y in week:
  print(y)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [24]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"] 

for y in week:
  print(y)
  if y == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [25]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for y in week:
  if y == "Thursday":
    break
  print(y)

Sunday
Monday
Tuesday
Wednesday

In [26]:
#range () function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [27]:
for x in range(2,6):
  print(x)

2
3
4
5

In [29]:
for x in range(2,6,2):
  print(x)

2
4

In [31]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [33]:
i = 1
while i<=6:
    print(i)
    if i == 3:
      break
    i+=1

1
2
3

In [45]:
#Write a program that determines if the input age is qualified to vote or not.
#The qualifying age is 18 years old above.

age = 18
if age>=18:
  print("age is qualified to vote")
elif age<18:
  print("age is not qualified to vote")

age is qualified to vote

In [46]:
age = input("Enter age:")
if int(age)>=18:
  print("age is qualified to vote")
elif int(age)<18:
  print("age is not qualified to vote")

Enter age:14
age is not qualified to vote

In [39]:
#Application 2. Write a program that determines if the input number is POSITIVE, NEGATIVE, or ZERO.

num = input("Enter number:")
if int(num)>0:
  print("The number is POSITIVE")
elif int(num)<0:
  print("The number is NEGATIVE")
else:
  print("The number is ZERO")

Enter number:0
The number is ZERO

In [35]:
#using while loop and break statement, the output is only 3
i = 3
while i<=3:
    print(i)
    break

3