<a href="https://colab.research.google.com/github/EzekielBalajadia/PLNG211-QC/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Writing your own function/conversion
def convert_to_celsius(fahrenheit):
  return (fahrenheit-32) * 5/9

def convert_to_kelvin(fahrenheit):
  return((fahrenheit -32) *5/9) + 273.15
fahrenheit = int(input())


print("Celsius",round(convert_to_celsius(fahrenheit),2))
print("Kelvin",round(convert_to_kelvin(fahrenheit),2))

100
Celsius 37.78
Kelvin 310.93

In [6]:
def Name():
  pass

In [8]:
def my_function(fname):
  return(fname + "Sayo")

print(my_function("Mam"))
print(my_function("Maria"))
print(my_function("Rizette"))

 MamSayo
 MariaSayo
 RizetteSayo

In [9]:
#Returns a value

def myFunction(x):
  return(5+x)

print(myFunction(4))
print(myFunction(5))
print(myFunction(6))

9
10
11

In [10]:
#Exercise 1

print(min(2, 3, 4))
print(max(2, -3, 4, 7, -5))
print(max(2, -3, min(4, 7), -5))

2
7
4

In [14]:
#Exercise 2
import math

def sum(num1,num2,num3):
  return num1 + num2 + num3
def average(num1,num2,num3):
  return (num1 + num2 + num3) / 3
def sumSquare(num1,num2,num3):
  return math.pow(num1,2) + math.pow(num2,2) + math.pow(num3,2)


num1 = int(input())
num2 = int(input())
num3 = int(input())

print("Sum:","",sum(num1,num2,num3))
print("Average:","",average(num1,num2,num3))
print("Sum of Square:","",sumSquare(num1,num2,num3))

2
3
4
Sum:  9
Average:  3.0
Sum of Square:  29.0